* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.completed {
    text-decoration: line-through
}

#morning {
    border: 3px solid rgb(164, 55, 55);
    padding: 24px;
    border-radius: 40px;
    background-color: indianred
}

#evening {
    border: 3px solid rgb(15, 160, 163);
    padding: 24px;
    border-radius: 40px;
    background-color: rgb(41, 234, 237);
}

#afternoon {
    border: 3px solid rgb(150, 60, 173);
    padding: 24px;
    border-radius: 40px;
    background-color: mediumorchid;
}

.important {
    color: whitesmoke;
}

.button {
    border: 2px solid rgb(100, 101, 194);
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(123, 125, 234);
    color: aliceblue;
}

#evening ul {
    background-color: rgb(171, 248, 250);
    padding: 24px;
    border-radius: 24px;
}

#afternoon ul {
    background-color: rgb(206, 111, 229);
    padding: 24px;
    border-radius: 24px;
}

#morning ul {
    background-color: rgb(217, 142, 142);
    padding: 24px;
    border-radius: 24px;
}