@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Noto+Sans+JP:wght@100..900&family=Oxygen:wght@300;400;700&family=Playwrite+NZ+Basic:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: rgba(188, 74, 51, 0.936);
    display: flex; 
    /* space-between top */
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar a {
    text-decoration: none;
    color: whitesmoke;
    padding: 24px;
    font-style: italic;
    
}

#logo-title {
    margin-right: auto;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
}

#navbar .subscribe {
    background-color: white;
    color: rgba(188, 74, 51, 0.936);
    border-radius: 36px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
 }

 .page-name {
    font-family: "Oxygen", sans-serif;
    text-align: center;
    font-weight: bold;
    color: rgba(188, 74, 51, 0.936);
    text-decoration: none;
 }