* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 80%;
    max-width: 800px;
   /* background-color:lightgreen;*/
    margin-left: auto;
    margin-right: auto;
}