@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Roboto Slab", serif;
    text-align: center;
    background-color: rgb(199, 184, 137);
    color: dark;
    margin: 100px;
}

#container {
    border: solid 3px goldenrod;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}

img {
    width: 500px;
    border: black 2px;
    margin: 0px;
    padding: 20px;
}

#header {
    margin-left: auto;
    max-width: 900px;
}

.alone {
    display: block;
}

.italic {
    font-style: italic;
    font-weight: bold;
}

#sidebar-content {
   text-decoration: none;
   background-color: rgb(230, 220, 180);
   padding: 42px;
   margin: 0px;
   font-size: 16px;
   width: 300px;
   order: 2;
   text-align: center;
}

#sidebar-content ul {
    margin: 0px;
    padding: 24px;
}

#two-columns {
    display: flex;
}

#main-content {
    order: 2;
}