* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#centered-hero {
    background-image: url(../images/stars-on-velvet.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 72px;
}

.hero-content h3 {
    font-size: 36px;
}

#side-hero {
    background-image: url(../images/lonely-ocean.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10%;
}

#side-hero .hero-content {
    color: black;
}

#contrast-hero {
    background-image: url(../images/placid-waters.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#contrast-hero .hero-content {
    background-color: rgba(255, 255, 255, 0.688);
    color: black;
    padding: 72px;
    border-radius: 60px;
}

#parallax-hero {
    background-image: url(../images/emerald-seas.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}