@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Jura:wght@300..700&family=Noto+Sans+JP:wght@100..900&family=Oxygen:wght@300;400;700&family=Playwrite+NZ+Basic:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: rgba(52, 84, 54, 0.863);
    display: flex; 
    /* space-between top */
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar a {
    text-decoration: none;
    color: whitesmoke;
    padding: 24px;
    font-style: italic;
    
}

#logo-title {
    margin-right: auto;
    font-family: "Unna", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 25px
}

#side-hero {
    background-image: url(../images/pottery-hero.jpg);
    background-position: center center;
    background-size:cover;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10%;
    flex-direction: column;
    position: relative;
}

#side-hero .hero-content {
    color:white;
    text-align: center;
    justify-items: center;
}

.hero-content a {
display: block;
margin: 14px;
padding: 9px;
text-decoration: none;
border: solid 1px rgb(6, 55, 6);
color: whitesmoke;
border-radius: 20px;
background-color:rgba(33, 68, 33, 0.697);
text-align: center;
font-size: 20px;
font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
}

.hero-content h1 {
    font-family: "Unna", serif;
    font-size: 40px
}

#pages {
    position: absolute;
    bottom: 12px;
    color: white;
}