* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

.sinster-mark {
    display: flex;
    align-items: center;
    gap: 36px;
}

.sinster-mark img,
.sinster-mark h2,
.image-container,
.text-container {
    flex: 1;
}

.sinster-mark .image-container img {
    width: 100%;
}

.sinster-mark h2 {
    font-size: 60px;
}

@media screen and (max-width: 580px) {
    .sinster-mark h2 {
        font-size: 24px;
    }
}

sinster-mark {
    flex-direction: column;
    align-items: stretch;
}

.sinster-mark .image-container {
    max-height: 250px;
    object-fit: cover;
}