* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

img {
    width: 200px;
    border-radius: 0px;
    background-color:whitesmoke;
    padding: 25px;
    margin: 45px;
    border: 20px solid rgb(12, 17, 63);
    text-decoration: shadow;
    box-shadow: 5px 5px 5px 0px grey;
}

#rukia {
    border-radius: 50%;
    width:150px;
    display: inline-block;
}

p {
    width: 200px;
    border-radius: 0px;
    background-color:whitesmoke;
    padding: 25px;
    margin: 45px;
    border: 20px solid rgb(12, 17, 63);
    text-decoration: shadow;
    box-shadow: 5px 5px 5px 0px grey;
    display: inline-block;
}

body {
    background-image: url(../images/gallery-wall.jpg);
    background-size: cover;
    background-position: center center;
}