* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    max-width: 1200px;
    margin: 36px auto;
    display: flex;
    min-height: 100px;
}

#thumbnail-column {
    width: 100px;
    padding: 5px;
    margin: 70px;
    display: inline-block;
    align-items: top;
    
}

#featured-image-column {
    flex: 1;
    display:block;
    padding: 20px;
    margin: 20px;
    align-items: top;
}

#product-info-column {
    max-width: 1200px;
    width: 90%;
    align-items: top;
    margin: 10px;
}

#featured-image-column img {
    width: 47vw;
    max-width: 500px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: whitesmoke;
}

#thumbnail-column img {
    width: 15vw;
    max-width: 200px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
}

#L {
    font-weight: lighter;
    font-style: italic;
}

#product-info-column a {
    color: black;
}

.bold {
    font-weight: bold;
    display: inline-block;
    justify-content: top;
    align-items: center;
}

#header {
    text-align: center;
    font-weight: bold;
}

#purple {
    color: purple;
}

#red {
    color: red;
}

#blue {
    color:dodgerblue;
}

#yellow {
    color: goldenrod;
}

#green {
    color: green;
}

.button {
    border: solid black 1px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0px 20px 0px 0px;
    padding: 15px;
}

#messi-back {
    border: 2px solid black;
    background-color: whitesmoke;
}

#ebay-seller {
    display: inline-block;
    width: 4vw;
    max-width: 100px;
}
.purchase-buttons {
    display: block;
    color: dodgerblue;
    padding: 25px 0px 25px 0px;;
    margin: 5px;
    border-radius: 26px;
    border: 2px dodgerblue solid;
    text-align: center;
    text-decoration: none;
}

#buy {
    background-color: dodgerblue;
    color: white;
    display: block;
    padding: 25px 0px 25px 0px;;
    margin: 5px;
    border-radius: 26px;
    border: 2px dodgerblue solid;
    text-align: center;
    text-decoration: none;
}