* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    text-align: center;
    padding: 24px;
    background-color: blue;
    color: white;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 24px;
}

p a {
    color: teal;
}

p.warning {
    background-color: crimson;
}

.warning a {
    color: orange;
}