* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

p {

    border: 5px outset red;
    margin: 24px 12px 100px 288px;
    /* border-top-color: purple; */
}

div {
    margin: 48px;
    /* border: 10px dashed blueviolet; */
    padding: 24px;
    background-color: blanchedalmond;
    border-radius: 24px;
}

#chatbox {
    border-radius: 24px 24px 24px 0px;
    margin-left: 24px;
    margin-right: 60px;
    background-color: lightblue;
}