* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to top,cyan, blue);
    display: flex; 
    /* space-between top */
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar a {
    text-decoration: none;
    color: whitesmoke;
    padding: 24px;
}

#navbar img {
    width: 150px;
}

#logo-container {
    margin-right: auto;
}

 #navbar .bulls {
    background-color: white;
    color: blue;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
 }

 #layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    min-height: 200vh;
 }